<div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/resume.jpg" alt="">
        <br>
        <p>Carlo Caranyagan</p>
        <p>"Python Developer"</p>
        <p>Hourly Rate: 1 USD</p>
      </div>
      <div class="col-sm">
        <img src="assets/resume.jpg" alt="">
        <br>
        <p>Carlo Caranyagan</p>
        <p>"Java Developer"</p>
        <p>Hourly Rate: 1 USD</p>
        
      </div>
      <div class="col-sm">
        <img src="assets/resume.jpg" alt="">
        <br>
        <p>Carlo Caranyagan</p>
        <p>"C Developer"</p>
        <p>Hourly Rate: 1 USD</p>
      </div>
    </div>
  </div>
  <div class="p-field p-col-12 p-md-4">
    <label for="multiple">Multiple</label>
    <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true" inputId="multiple"></p-calendar>
</div>