<br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/books/pythonbook.jpg" alt="">
        <br>
        <button pButton type="button" label="Python" class="p-button-secondary p-button-rounded" (click)="payment();" ></button>
      </div>
      <div class="col-sm">
        <img src="assets/books/JavaPro.jpg" alt="">
        <br>
        <button pButton type="button" label="Java Pro" class="p-button-secondary p-button-rounded" (click)="payment();" ></button>
      </div>
      <div class="col-sm">
        <img src="assets/books/proGIT.jpg" alt="">
        <br>
         <button pButton type="button" label="Pro Git" class="p-button-secondary p-button-rounded" (click)="payment();"></button>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/books/pythoncookbook.jpg" alt="">
        <br>
        <button pButton type="button" label="Pyton Cook Book" class="p-button-secondary p-button-rounded" (click)="payment();"></button>
      </div>
      <div class="col-sm">
        <img src="assets/books/JavaBeginners.jpg" alt="">
        <br>
        <button pButton type="button" label="Java for Beginners" class="p-button-secondary p-button-rounded" (click)="payment();"></button>
      </div>
      <div class="col-sm">
        <img src="assets/books/gitworkshop.jpg" alt="">
        <br>
        <button pButton type="button" label="Git Workshop" class="p-button-secondary p-button-rounded " (click)="payment();"></button>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/books/ThinkPython.jpg" alt="">
        <br>
        <button pButton type="button" label="Think Pyton" class="p-button-secondary p-button-rounded" (click)="payment();"></button>
      </div>
      <div class="col-sm">
        <img src="assets/books/Java12.jpg" alt="">
        <br>
        <button pButton type="button" label="Java 12" class="p-button-secondary p-button-rounded" (click)="payment();"></button>
      </div>
      <div class="col-sm">
        <img src="assets/books/gitandgithub.jpg" alt="">
        <br>
        <button pButton type="button" label="Git and Github" class="p-button-secondary p-button-rounded" (click)="payment();"></button>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>