<div class="container-md">
  <div class="row">
    <div class="col-sm">
        <img src="/assets/python.png" alt="">
        <button type="button" (click)="btnClick();">Python</button>
    </div>
    <div class="col-sm">
      <img src="/assets/java.png" alt="">
      <button type="button" (click)="btnClick();">Java</button>
    </div>
    <div class="col-sm">
        <img src="/assets/js.png" alt="">
        <button type="button" (click)="btnClick();" >JavaScript</button>
    </div>
    <div class="col-sm">
        <img src="/assets/aws.png" alt="">
        <button type="button" (click)="btnClick();">AWS</button>
    </div>
  </div>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-sm">
        <img src="/assets/css.png" alt="">
        <button type="button" (click)="btnClick();">CSS</button>
    </div>
    <div class="col-sm">
        <img src="/assets/sql.png" alt="">
        <button type="button" (click)="btnClick();"> SQL</button>
    </div>
    <div class="col-sm">
        <img src="/assets/php.png" alt="">
        <button type="button" (click)="btnClick();">PHP</button>
    </div>
    <div class="col-sm">
        <img src="/assets/html.png" alt="">
        <button type="button" (click)="btnClick();">HTML</button>
    </div>
  </div>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-sm">
        <img src="/assets/github.png" alt="">
        <button type="button" (click)="btnClick();">Github</button>
    </div>
    <div class="col-sm">
        <img src="/assets/linux.png" alt="">
        <button type="button" (click)="btnClick();">Linux</button>
    </div>
    <div class="col-sm">
        <img src="/assets/ruby.png" alt="">
        <button type="button" (click)="btnClick();">Ruby</button>
    </div>
    <div class="col-sm">
        <img src="/assets/c.png" alt="">
        <button type="button" (click)="btnClick();"> C</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>